.header{
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    height: 65px;
    @include flex(row, flex-start);
    gap: 7px;
    width: 100%;
    padding: 0 20px;
    color: white;

    img{
        width: 31px;

    }

    span{
        font-weight: 700;
        font-weight: 20px;
    }
}