.main {
    background-color: white;
    padding: 36px 0;
    @include flex(column);
    gap: 36px;

    &__form {
        @include flex();
        width: inherit;
        flex-wrap: wrap;
        gap: 16px;

        input {
            width: 230px;
            height: 35px;
            padding: 0;
            padding-inline-start: 11px;
            border: 1px solid #d5d4d8;
            border-radius: 5px;
            &:focus-visible {
                outline: 0;
            }
        }

        button {
            width: 477px;
            height: 40px;
            font-weight: 700;
            font-size: 16px;
            color: white;
            background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
            border-radius: 5px;
            border: 0;
        }
    }

    &__meme {
        width: 477px;
        position: relative;
        &__img {
        }
        div {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            font-weight: 900;
            font-size: 32px;
            text-transform: uppercase;
            color: white;
            letter-spacing: 1px;
            text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000,
                0 -2px 0 #000, -2px 0 0 #000, 2px 2px 5px #000;
        }
        &__topTxt {
            top: 16px;
        }
        &__bottomTxt {
            bottom: 16px;
        }
    }
}
